###### [mysql]配置模块 ######
[mysql]
# 设置MySQL客户端默认字符集
default-character-set=utf8mb4

###### [mysqld]配置模块 ######
[mysqld]
port=3306
user=mysql

# sql_mode 是 MySQL 的一个系统变量，它控制了 MySQL 在执行 SQL 语句时的行为。
# STRICT_TRANS_TABLES：启用严格模式，当插入或更新数据时，MySQL 将拒绝任何不符合数据类型的数据。
# NO_ZERO_IN_DATE：当日期或日期时间字段中的值为 "0000-00-00" 时，MySQL 将抛出警告或错误。
# NO_ZERO_DATE：当日期或日期时间字段中的值为 "0000-00-00" 或 "0000-00-00 00:00:00" 时，MySQL 将抛出警告或错误。
# ERROR_FOR_DIVISION_BY_ZERO：当除数为零时，MySQL 将抛出错误。
# NO_ENGINE_SUBSTITUTION：当请求的存储引擎不可用时，MySQL 将抛出错误，而不是自动使用另一个可用的存储引擎。
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

# MySQL8 的密码认证插件
default_authentication_plugin=mysql_native_password

# 禁用符号链接以防止各种安全风险
symbolic-links=0

# 允许最大连接数
max_connections=1000

# 创建新表时将使用的默认存储引擎
default-storage-engine=INNODB

# 表名存储在磁盘是小写的，但是比较的时候是不区分大小写
lower_case_table_names=1
max_allowed_packet=16M 

# 设置时区(按照实际情况填写)
default-time_zone='+0:00'

# binlog 配置
expire-logs-days = 90
max-binlog-size = 500M

# server-id 配置
server-id = 1

###### [client]配置模块 ######
[client]
default-character-set=utf8mb4
