ul {
  padding: 0;
}

li label {
  border: 1px solid;
  border-radius: 5px;
  padding: 8px;
  margin: 10px;
  display: flex;
  line-height: 32px;
}

li label:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.btn {
  margin-left: auto;
}
