<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.LogFilePathMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into log_file_path(file_path, create_time, update_time, deleted)
        values (#{filePath}, #{createTime}, #{updateTime}, #{deleted})
    </insert>
</mapper>
